.aside-btn {
  box-shadow: 5px 5px 6px 0 rgba(0,0,0,0.75);
  border-radius: 5px;
}
.aside-btn:hover,
#form-button:focus {
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.75);
}

.bi:hover {
  color: #0281FD;
}

#form-button:hover {
  background-color: #0281FD;
}

#main-field {
  /*height: 400px;*/
  max-height: 90vh;

  display: grid;
  grid-gap: 3px;
  grid-auto-flow: row;
}
